@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

:root {
    --verde-principal: #054630;
    --verde-claro-um: #30A176;
    --verde-claro-dois: #3FD49B;
    --branco-ite: #F5F5F5;
}

.header {
    margin-bottom: 35px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 270px;
    padding: 10px 70px;
    background: var(--verde-principal);
    height: 150px;
    box-shadow: 2px 1px 40px 5px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 2px 1px 40px 5px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 2px 1px 40px 5px rgba(0, 0, 0, 0.56);
}

.logo-ite img {
    transition: 0.4s ease;
}

.logo-ite img:hover {
    transform: scale(1.2);
    /* box-shadow: 10px 10px 5px 0px #3FD49B; */
}

.textos-cabecalho {
    color: var(--branco-ite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 150px;
}

.texto-cima p {
    animation: mudar-cor 3s infinite;
    font-size: 23px;
}

@keyframes mudar-cor {
    0% {
        color: var(--verde-claro-um);
    }

    25% {
        color: var(--verde-claro-dois);
    }

    50% {
        color: var(--branco-ite);
    }

    75% {
        color: var(--verde-claro-dois);
    }

    100% {
        color: var(--verde-claro-um);
    }
}

.texto-baixo {
    display: flex;
    gap: 10px;
}

.texto-baixo ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
}

.texto-baixo ul li a {
    transition: 0.4s ease;
    position: relative;
    margin-bottom: 5px;
}

.texto-baixo ul li a:hover {
    color: var(--verde-claro-dois);
}

.texto-baixo ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.texto-baixo ul li a:hover::after {
    transform: scaleX(1);
    background-color: var(--verde-claro-dois);
}

#menu-sanduiche {
    display: none;
}

.faleconosco-menu {
    white-space: nowrap;
}

@media (max-width: 1158px) {
    #menu-sanduiche {
        display: flex;
    }

    .textos-cabecalho {
        align-items: center;
        margin-right: 0px;
    }

    .cabecalho {
        align-items: center;
        justify-content: space-between;
        height: 100%;
        gap: 20px;
        flex-direction: column;
    }

    .texto-baixo ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .texto-baixo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ul-lista {
        align-items: center;
        white-space: nowrap;
    }

    .ul-lista li a {
        white-space: nowrap;
    }

    .faleconosco-menu {
        white-space: nowrap;
    }

    .texto-cima p {
        text-align: center;
    }

}

.novidades-menu {
    color: var(--verde-claro-dois);
}


/******** NOVIDADES *********/
.fundo-ite-NOVIDADES{
    background-image: url("../images/fundo-ite-NOVIDADES.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    filter: blur(5px);
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -1; /* para ficar por cima do background */
}



/*.opcao2{
    background-color: #054630;
    border-radius: 10px;
    padding: 20px;
    text-align: auto;
}*/

/* 
.formulario-base{
    centralizar div
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 90px;
} */


/* select */
.titulo-pesquisa{  
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 10px;

    border-radius: 15px;
}

.titulo-biblioteca{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    /* display: none; */
    
}

.titulo-periodo{

    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}
.titulo-midia{

    margin: 10px;
    padding: 10px;

    
}



/* botoes */

.botoes .botaoCancelar:hover{
    background-color: var(--verde-principal);
    cursor: pointer;
    
}
.botoes .botaoConsultar:hover{
    background-color: var(--verde-principal);
    cursor: pointer;
    

}
.botoes{
    padding: 10px;
    text-align: center;
}

.botaoConsultar{
    
    background-color: var(--verde-claro-dois);
    border: none;
    color: var(--branco-ite);
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;

}

.botaoCancelar{
    
    background-color: var(--verde-claro-dois);
    border: none;
    color: var(--branco-ite);
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
}

select:hover{
    color: black;
    border-color: var(--verde-claro-um);
    transition: 0.1s ease;
    box-shadow: 1px 1px 5px 1px #30A176;

    
}

/* @media (max-width: ) */


.container-geral {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 10px 1px gray;
    max-width: 40vw;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}

.titulo-biblioteca, .titulo-periodo, .titulo-midia {
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.titulo-biblioteca select, .titulo-periodo select, .titulo-midia select {
    width: 150px;
}

@media (max-width: 746px) {
    .titulo-biblioteca, .titulo-periodo, .titulo-midia {
        flex-direction: column;
        gap: 10px;
    }

    .botoes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .container-geral {
        max-width: 80vw;
    }
}

@media (max-width: 420px) {
    .titulo-biblioteca select, .titulo-periodo select, .titulo-midia select {
        width: 120px;
    }
}