#pesquisa-avancada {
    border: 1px solid #ddd;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }

body{
  background-color: #f7f7f7;
}

#pesquisa-avancada {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}
.formulario select:focus, .formulario input:focus
{
    border: 1px solid var(--verde-claro-um);
    outline: 1px solid var(--verde-claro-um);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #054630;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #30A176;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 15px 0;
}


