

.container {
    text-align: center;
}

.site-title {
    margin-bottom: 10px;
    font-size: 18px;
    padding-bottom: 5px;
}

.box {
    box-shadow: 1px 1px 8px 1px gray;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start; 
}

.label-form {
    display: flex;
    align-items: flex-start; 
}

.label-form input {
    width: 15.625rem;
    height: 25px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    
   
    text-align: left;
    
    font-size: 14px;
}

.label-form label {
    margin-right: 60%;
}

@media (max-width: 1296px) {
    .label-form {
        flex-direction: column;
        width: inherit;
    }
}

@media (max-width: 802px) {
    .label-form input {
        width: 12.625rem;
    }
}

@media (max-width: 576px) {
    .label-form input {
        width: 9.625rem;
    }
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: var(--verde-claro-dois);
    border: none;
    color: var(--branco-ite);
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #27ae60;
}

.label-form input#tombo {
   
    margin-left: -5px;
}

