.container {
    text-align: center;
}

.site-title {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.underline {
    margin-bottom: 30px;
}

.box {
    width: 70%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: -1px 0px 26px -1px rgba(5, 70, 48, 0.62);
    -webkit-box-shadow: -1px 0px 26px -1px rgba(5, 70, 48, 0.62);
    -moz-box-shadow: -1px 0px 26px -1px rgba(5, 70, 48, 0.62);
    text-align: left;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* ajuste para compensar o padding */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}
